.container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 35%;
    margin: 1rem auto;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px solid #000;
    aspect-ratio: 1 / 1;
}

.hover {
    background-color: black;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 4rem;
    font-weight: 900;
}

button {
    margin: 1rem auto;
    padding: 1rem 2rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: maroon;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    display: block;
}