.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    margin: 1rem auto;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px solid #000;
    aspect-ratio: 1 / 1;
}

.hover {
    background-color: black;
}